{% extends "tradefog/base.html" %}
{% load i18n static %}

{% block title %}{% translate "Analytics" %} · Tradefog{% endblock %}

{% block page_header %}
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">{% translate "Trading quality" %}</div>
          <h1 class="page-title">{% translate "Analytics" %}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "tradefog/journal/partials/analytics_content.html" %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'tradefog/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'tradefog/js/analytics.js' %}"></script>
{% endblock %}
