{% load i18n %}
<form hx-post="{% url 'journal:strategy_create' profile.pk %}"
      hx-target="#strategy-create-body"
      hx-swap="innerHTML"
      novalidate>
  {% csrf_token %}
  {% include "tradefog/components/form_field.html" with field=form.name %}
  {% include "tradefog/components/form_field.html" with field=form.description %}
  {% include "tradefog/components/form_field.html" with field=form.risk_percent %}
  {% include "tradefog/components/form_field.html" with field=form.reward_multiple %}
  <div class="modal-footer px-0 pb-0">
    <button class="btn" type="button" data-bs-dismiss="modal">
      {% translate "Cancel" %}
    </button>
    <button class="btn btn-outline-primary" type="submit">
      {% translate "Add strategy" %}
    </button>
  </div>
</form>