{% load i18n %}
<div class="modal modal-blur fade"
     id="wallet-deposit-modal"
     tabindex="-1"
     aria-labelledby="wallet-deposit-modal-title"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="wallet-deposit-modal-title">
          {% translate "Deposit" %}
        </h2>
        <button class="btn-close"
                type="button"
                data-bs-dismiss="modal"
                aria-label="{% translate 'Close' %}"></button>
      </div>
      <div class="modal-body" id="wallet-deposit-body"></div>
    </div>
  </div>
</div>