{% extends "tradefog/base.html" %}
{% load i18n %}

{% block title %}{{ profile.name }} · Tradefog{% endblock %}

{% block page_header %}
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          {% include "tradefog/profiles/partials/profile_heading.html" %}
        </div>
        <div class="col-auto ms-auto">
          <a class="btn" href="{% url 'journal:profile_overview' %}">
            {% translate "Back to profiles" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#profile-overview-tab" data-bs-toggle="tab">
            {% include "tradefog/components/icon.html" with name="notebook" class="icon-1" %}
            {% translate "Overview" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile-wallet-tab" data-bs-toggle="tab">
            {% include "tradefog/components/icon.html" with name="coin" class="icon-1" %}
            {% translate "Wallet" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile-strategies-tab" data-bs-toggle="tab">
            {% include "tradefog/components/icon.html" with name="chart-candle" class="icon-1" %}
            {% translate "Strategies" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile-settings-tab" data-bs-toggle="tab">
            {% include "tradefog/components/icon.html" with name="settings" class="icon-1" %}
            {% translate "Settings" %}
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active show" id="profile-overview-tab">
          {% include "tradefog/profiles/partials/profile_overview_tab.html" %}
        </div>
        <div class="tab-pane" id="profile-wallet-tab">
          {% include "tradefog/profiles/partials/profile_wallet_tab.html" %}
        </div>
        <div class="tab-pane" id="profile-strategies-tab">
          {% include "tradefog/profiles/partials/profile_strategies_tab.html" %}
        </div>
        <div class="tab-pane" id="profile-settings-tab">
          {% include "tradefog/profiles/partials/profile_settings_tab.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}