{% load i18n %}
<div class="toast show"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-bs-autohide="false"
     data-bs-toggle="toast">
  <div class="toast-header">
    <strong class="me-auto" data-toast-title></strong>
    <small class="text-secondary d-inline-flex align-items-center gap-1">
      <span class="status-dot status-dot-animated" data-toast-dot></span>
      <span data-toast-time></span>
    </small>
    <button class="btn-close ms-2"
            type="button"
            data-bs-dismiss="toast"
            aria-label="{% translate 'Close' %}"></button>
  </div>
  <div class="toast-body" data-toast-body></div>
</div>