{% load i18n %}
<form hx-post="{% url 'journal:venue_create' %}"
      hx-target="#venue-form-body"
      hx-swap="innerHTML"
      novalidate>
  {% csrf_token %}
  {% include "tradefog/components/form_field.html" with field=form.name %}
  {% include "tradefog/components/form_field.html" with field=form.website %}
  <div class="modal-footer px-0 pb-0">
    <button class="btn" type="button" data-bs-dismiss="modal">
      {% translate "Cancel" %}
    </button>
    <button class="btn btn-primary" type="submit">
      {% translate "Add venue" %}
    </button>
  </div>
</form>