{% load i18n %}
<form hx-post="{% url 'journal:wallet_asset_remove' venue.pk wallet_asset.pk %}"
      hx-target="#wallet-asset-remove-body"
      hx-swap="innerHTML">
  {% csrf_token %}
  <p class="mb-3">
    {% blocktranslate with symbol=wallet_asset.asset.symbol %}
      Stop offering {{ symbol }} as a wallet asset on this venue?
    {% endblocktranslate %}
  </p>
  <div class="modal-footer px-0 pb-0">
    <button class="btn" type="button" data-bs-dismiss="modal">
      {% translate "Cancel" %}
    </button>
    <button class="btn btn-danger" type="submit">
      {% translate "Remove" %}
    </button>
  </div>
</form>